/*xyazh开始*/
/*index*/
* {margin:0 auto;padding: 0;font-family: "微软雅黑";}
img {border: none;}
a {text-decoration: none;color: #666}

body{background-color: #fafafa;}

.institute_block1{
	width: 1200px;
	margin: 0 auto;
	min-width: 1200px;
}
.institute_block2{
	width: 1200px;
	height: 33px;
	line-height: 33px;
	font-family: 宋体;
	font-size: 12px;
	color: #333333;
}
.institute_block3{
	width: 445px;
	height: 33px;
	line-height: 33px;
	float: left;
}
.institute_block4{
	width: 240px;
	height: 33px;
	line-height: 33px;
	float: right;
	text-align: right;
}
.institute_block5{
	width: 135px;
	height: 33px;
	line-height: 33px;
	float: right;
	margin-right: 10px;
}

.institute_block5 a:hover{color: #0560B6;text-decoration:underline;}
.institute_block6{
	width: 1200px;
	height: 200px;
}
.institute_block7{
	width: 1200px;
	height: 40px;
	background-color: #0560b6;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}
.institute_block7 ul{
	width: 960px;
	margin: 0 auto;
	height: 400px;
	line-height: 40px;
	list-style: none;
}
.institute_block7 ul li{
	float: left;
	padding: 0 23px;
	border-right: 1px solid #6ca1d4;
	cursor: pointer;
}
.institute_block7 ul li a {color: #fff;}/*created by chasen 2017-3-22 13:55:05* 添加了a标签及其央样式*/

.institute_block7 ul li:first-child{padding: 0 28px;}
.institute_block7 ul li:last-child{border-right: 0px;}
.institute_block7 ul li:hover{background-color: #0f427c;}/*edited by chasen 2017-3-22 14:00:46* 去掉了鼠标悬停下划线，添加了鼠标选定背景颜色*/
.nav_select {background-color: #0f427c;}/*edited by chasen 2017-3-22 14:21:48 当前页面导航标签的背景颜色*/

.institute_block8{
	height: 285px;
	width: 1200px;
	margin-top: 10px;
}
.institute_block9{
	height: 285px;
	width: 800px;
	float: left;
	position: relative;
}
.focusBox{
	width: 800px;
  	height: 285px;
  	overflow: hidden;
  	position: relative;
  	text-align: left; 
  	background: white; 
  	font-size: 14px;
  }
 .focusBox .pic img { 
 	width: 800px; 
 	height: 285px; 
 	display: block; 
 	margin-top: -20px;
}
.focusBox .txt-bg { 
	position: absolute; 
	bottom: 0; 
	z-index: 1; 
	height: 40px; 
	width:100%;  
	background: #000000; 
	opacity: 0.349;
	-moz-opacity: 0.349;
	-webkit-opacity: 0.349;
	filter:alpha(opacity=34.9); 
	overflow: hidden; 
}
.focusBox .txt { 
	position: absolute; 
	bottom: 0; 
	z-index: 2; 
	height: 40px; 
	width:100%; 
	overflow: hidden; 
}
.focusBox .txt li{ 
	height:40px; 
	line-height:40px; 
	position:absolute; 
	bottom:-36px;
}
.focusBox .txt li a{ 
	display: block; 
	color: white; 
	padding: 0 0 0 10px; 
	font-size: 14px; 
	font-weight: bold; 
	text-decoration: none; 
}
.focusBox .num { 
	position: absolute; 
	z-index: 3; 
	bottom: 12px; 
	right: 12px; 
}
.focusBox .num li{ 
	float: left; 
	position: relative; 
	width: 15px; 
	height: 15px; 
	overflow: hidden; 
	margin-right: 10px; 
	cursor: pointer;
	border-radius: 10px;
	-moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari 和 Chrome */
  	background-color: #ffffff; 
}
.focusBox .num li.on { 
	background:#008CD6;  
}
.institute_block10{
	width: 390px;
	height: 285px;
	float: left;
	margin-left: 8px;
	border: 1px solid #e6e1e2;
	background-color: #FFFFFF;
}
.institute_block11{
	width: 390px;
	height: 35px;
	line-height: 35px;
}
.institute_block12{
	width: 100px;
	height: 35px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 35px;
	font-weight: bold;
	background-color: #2565ad;
	text-align: center;
	float: left;
}
.institute_block13{
	float: right;
	margin-right: 10px;
	color: #999999;
	font-size: 12px;
}
.institute_block14{
	height:1px;
	border:none;
	border-top:1px solid #2565ad;
}
.institute_block15{
	width: 370px;
	height: 235px;
	margin-top:10px ;
	padding: 0 10px;
}
.institute_block15 ul{
	list-style-position: inside;
}
.institute_block15 ul li{
	height: 29px;
	font-size: 12px;
	color: #333333;
	line-height: 29px;
	cursor: pointer;
}
.institute_block15 ul li span{float: right;}
.institute_block16{
	height: 100px;
	width: 1200px;
	margin-top: 10px;
}
.institute_block17{
	height: 362px;
	width: 1200px;
	margin-top: 10px;
}
.institute_block18{
	height: 358px;
	width: 198px;
	border: 1px solid #e6e1e2;
	float: left;
	background-color: #FFFFFF;
}
.institute_block19{
	width: 198px;
	height: 35px;
	line-height: 35px;
}
.institute_block21{
	width: 198px;
	height: 146px;
	padding-top: 18px;
	font-size: 14px;
	color: #333333;
	text-align: center;
}
.institute_block22{
	width: 198px;
	height: 156px;
	background-color: #0560b6;
	text-align: center;
	border-top: 1px solid #e6e1e2;
}
.institute_block22 ul li{
	list-style: none;
	height: 39px;
	line-height: 39px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}
.institute_block22 ul li:hover{background-color: #FFFFFF;color: #0560b6;}
.institute_block23{
	height: 358px;
	width: 588px;
	border: 1px solid #e6e1e2;
	float: left;
	margin-left: 10px;
	background-color: #FFFFFF;
}
.institute_block24{
	width: 588px;
	height: 35px;
	line-height: 35px;
}
.institute_block25{
	width: 568px;
	height: 324px;
	margin-top:15px ;
	padding: 0 10px;
}
.institute_block25 ul{
	list-style-position: inside;
}
.institute_block25 ul li{
	height: 29px;
	font-size: 12px;
	color: #333333;
	line-height: 29px;
}
.institute_block25 ul li span{float: right;}
.institute_block26{
	height: 358px;
	width: 388px;
	border: 1px solid #e6e1e2;
	float: left;
	margin-left: 10px;
	background-color: #FFFFFF;
}
.institute_block27{
	width: 388px;
	height: 35px;
	line-height: 35px;
}
.institute_block28{
	width: 368px;
	height: 324px;
	margin-top:15px ;
	padding: 0 10px;
}
.institute_block28 ul{
	list-style-position: inside;
}
.institute_block28 ul li{
	height: 29px;
	font-size: 12px;
	color: #333333;
	line-height: 29px;
}
.institute_block28 ul li span{float: right;}
.institute_block29{
	height: 308px;
	width: 1198px;
	margin-top: 10px;
	border: 1px solid #e6e1e2;
	background-color: #FFFFFF;
}
.institute_block30{
	width: 1198px;
	height: 35px;
	line-height: 35px;
}
.institute_block31{
	width: 1190px;
	height: 260px;
	margin-left: 5px;
	margin-top: 10px;
	overflow: hidden;
}
.index_zhuanjia2{
	float: left; 
	width: 800%;
}
.institute_block32{
	width: 190px;
	height: 260px;
	margin-right: 10px;
	position: relative;
	float: left;
}
.institute_block33{
  background-color: #0560b6;
  opacity: 0.4;
  -moz-opacity: 0.4;
  -webkit-opacity: 0.4;
  filter:alpha(opacity=40);
  position: absolute;
  width: 190px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  bottom: 0px;
  z-index: 1;
}
.institute_block34{
  position: absolute;
  width: 190px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  bottom: 0px;
  z-index: 2;
}
.institute_block35{
	width: 190px;
	height: 260px;
	position: relative;
	float: left;
}
.institute_block36{
	width: 1200px;
	height: 360px;
	margin-top: 10px;
}
.institute_block37{
	width: 388px;
	height: 358px;
	border: 1px solid #e6e1e2;
	float: left;
	background-color: #FFFFFF;
}
.institute_block38{
	width: 368px;
	height: 324px;
	margin-top:10px ;
	padding: 0 10px;
}
.institute_block38 ul{
	list-style-position: inside;
}
.institute_block38 ul li{
	height: 33px;
	font-size: 12px;
	color: #333333;
	line-height: 33px;
}

.institute_block39{
	width: 398px;
	height: 358px;
	border: 1px solid #e6e1e2;
	float: left;
	margin-left: 10px;
	background-color: #FFFFFF;
}
.institute_block40{
	width: 398px;
	height: 35px;
	line-height: 35px;
}
.institute_block41{
	width: 378px;
	height: 324px;
	margin-top:15px ;
	padding: 0 10px;
}
.institute_block41 ul{
	list-style-position: inside;
}
.institute_block41 ul li{
	height: 29px;
	font-size: 12px;
	color: #333333;
	line-height: 29px;
}
.institute_block41 ul li span{float: right;}
.institute_block42{
	width: 1198px;
	height: 188px;
	margin-top: 10px;
	border: 1px solid #e6e1e2;
	background-color: #FFFFFF;
}
.institute_block43{
	width: 1198px;
	height: 35px;
	line-height: 35px;
}
.institute_block44{
	width: 1198px;
	height: 25px;
	line-height: 25px;
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	font-family: "宋体";
}
.institute_block44 a:hover{text-decoration: underline;color: #0560B6;}
.institute_block45{
	width: 1198px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	font-family: "宋体";
}
.institute_block45 a:hover{text-decoration: underline;color: #0560B6;}
.institute_block46{
	width: 1198px;
	height: 55px;
	margin-top: 25px;
	overflow: hidden;
}
.institute_block47{ 
float: left; 
width: 800%; 
} 
.institute_block48{
	width: 1198px;
	height: 98px;
	margin-top: 10px;
	border: 1px solid #e6e1e2;
	background-color: #FFFFFF;
	color: #666666;
	font-size: 12px;text-align: center;
}
.institute_block49{
	margin-top: 15px;
}
.institute_block50{
	margin-top: 8px;
}
.text_size{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 250px;
	word-break: keep-all;
	float:right;
	margin-right: 37px;
	margin-left: -30px;
}
.text_size:hover{text-decoration: underline;color: #0560B6;}
.text_size1{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 300px;
	word-break: keep-all;
	float:right;
	margin-right: 188px;
	margin-left: -30px;
}
.text_size1:hover{text-decoration: underline;color: #0560B6;}
.text_size2{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 450px;
	word-break: keep-all;
	float:right;
	margin-right: 300px;
	margin-left: -20px;
	font-family: "宋体";
}
.text_size2:hover{text-decoration: underline;color: #0560B6;}
.text_size3{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 230px;
	word-break: keep-all;
	float:right;
	margin-right: 42px;
	margin-left: -20px;
	font-family: "宋体";
}
.text_size3:hover{text-decoration: underline;color: #0560B6;}
.text_size4{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 255px;
	word-break: keep-all;
	float:right;
	margin-right: 42px;
	margin-left: -30px;
}
.text_size4:hover{text-decoration: underline;color: #0560B6;}

/*xinwen*/
.xinwen_block1{
	width: 1178px;
	height: 968px;
	border: 1px solid #e6e1e2;
	margin-top: 10px;
	background-color:#ffffff;
	padding: 10px;
}
.xinwen_block2{
	width: 876px;
	height: 966px;
	border: 1px solid #e6e1e2;
	background-color:#ffffff;
	float: left;
}
.xinwen_block3{
	width: 876px;
	height: 35px;
	line-height: 35px;
}
.xinwen_block4{
	width: 836px;
	height: 858px;
	margin-top:15px ;
	padding: 0 20px;
}
.xinwen_block4 ul{
	list-style-position: inside;
}
.xinwen_block4 ul li{
	height: 39px;
	font-size: 14px;
	color: #333333;
	line-height: 39px;
	
	
}
.xinwen_block4 ul li span{float: right;font-family: "宋体";}
.xinwen_block5{
	width: 876px;
	height: 30px;
	text-align: center;
	margin-top: 10px;
}

.xinwen_block5 a input {outline: none;}/*created by chasen 2017-3-22 14:25:34 去掉了翻页按钮的聚焦边框*/

.xinwen_block6{
	width: 50px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #e6e1e2;
	text-align: center;	
	float: left;
	margin-left: 240px;
	margin-right: 10px;
	cursor:pointer;
	background-color: #FFFFFF;
	font-family: "宋体";
	font-size: 12px;
	color: #E6E1E2;
}
.xinwen_block7{
	width: 25px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #e6e1e2;
	text-align: center;
	float: left;
	margin-left: 20px;
	background-color: #FFFFFF;
	cursor:pointer;
	font-family: "宋体";
	font-size: 12px;
	color: #E6E1E2;
}
.xinwen_block8{
	width: 50px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #e6e1e2;
	text-align: center;
	float: left;
	margin-left: 30px;
	cursor:pointer;
	background-color: #FFFFFF;
	font-family: "宋体";
	font-size: 12px;
	color: #E6E1E2;
}
.xinwen_block8:hover,.xinwen_block7:hover,.xinwen_block6:hover{color: #FFFFFF;background-color: #2565ad;}
.total_page{
	color: #666666;
	float: left;
	margin-left: 45px;
	line-height: 25px;
	font-family: "宋体";
	font-size: 12px;
}
#page_select1{
	background-color: #2565ad;
	color: #FFFFFF;
}
.xinwen_block9{
	width: 288px;
	height: 966px;
	border: 1px solid #e6e1e2;
	background-color:#ffffff;
	float: left;
	margin-left: 10px;
}
.xinwen_block10{
	width: 288px;
	height: 35px;
	line-height: 35px;
}
.xinwen_block11{
	width: 288px;
	height: 180px;
	margin-top:15px ;
	padding: 0 10px;
	margin-bottom: 25px;
}
.xinwen_block11 ul{
	list-style-position: inside;
}
.xinwen_block11 ul li{
	height: 30px;
	font-size: 12px;
	color: #333333;
	line-height: 30px;
	cursor: pointer;
}
.xinwen_block12{
	width: 273px;
	height: 85px;
	line-height: 85px;
	color: #0560b6;
	border: 1px solid #0560b6;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 10px;
	-moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari 和 Chrome */
}
.xinwen_block12:hover{background-color: #0560b6;color: #FFFFFF;}

/*news开始*/
.news_middle_bg{
	width: 1178px;
	height: auto;
	min-height: 500px;
	border: 1px solid #e6e1e2;
	margin-top: 10px;
	background-color:#ffffff;
	padding: 10px;
}
.news_middle_text_bg{
	width: 1176px;
	height: auto;
	min-height: 500px;
	border: 1px solid #e6e1e2;
	background-color:#ffffff;
}
.news_article_title{

	width: 1055px;

	height: 30px;
	line-height: 30px;
	margin-top: 40px;
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.news_article_author{
	width: 1055px;
	height: 20px;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
	text-align: center;
}
.news_middle_text{
	width: 1055px;
	height: auto;
	margin: 0 auto;
}
.news_line{
	height:1px;
	border:none;
	border-top:1px solid #e6e1e2;
	margin-top: 15px;
}
.news_middle_text p{
	text-indent: 2em;
	margin-top: 30px;
	color: #333333;
	font-size: 14px;
	font-family: "宋体";
	line-height: 1.714;
	letter-spacing: 0.75px;
}
.news_article_pic{	
	margin-top: 30px;
	line-height: 1.714;
	text-align: center;
}
.news_article_kongbai{
	height: 150px;
}

/*jieshao开始*/
.jieshao_bg{
	width: 1178px;
	height: auto;
	border: 1px solid #e6e1e2;
	margin-top: 10px;
	background-color:#ffffff;
	padding: 10px;
}
.jieshao_bg2{
	width: 1178px;
	height: auto;
	min-height: 500px;
}
.jieshao_left_bg{
	width: 876px;
	height: auto;
	min-height: 500px;
	border: 1px solid #e6e1e2;
	background-color:#ffffff;
	float: left;
}
.jieshao_right_bg{
	height: auto;
	min-height: 500px;
	width: 288px;
	border: 1px solid #e6e1e2;
	background-color:#ffffff;
	float: left;
	margin-left: 10px;
}
.jieshao_left_title{
	width: 876px;
	height: 35px;
	line-height: 35px;
}
.jieshao_left_article_bg{
	width: 770px;
	margin: 0 auto;
}
.jieshao_left_article_title{
	width: 770px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #333333;
	font-weight: bold;
	margin-top: 45px;
	margin-bottom: 25px;
}
.jieshao_left_article_bg p{
	margin-bottom: 30px;
	font-size: 16px;
	color: #333333;
	font-family: "宋体";
	line-height: 1.5;
	text-indent: 2em;
}

